/* Buttons */
.btn {
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-family: 'Indie Flower', cursive;
  font-size: $font-M;
  text-decoration: none;

  &:hover {
    opacity: 0.9;
  }
}

.add-item-btn {
  background: transparent;
  border: none;
  font-size: 60px;
  position: absolute;
  right: 10px;
  top: -5px;

  &:active {
    color: rgba($color: #000000, $alpha: 0.5);
  }

  &:hover {
    cursor: pointer;
  }
}

.close-btn {
  background: transparent;
  border: none;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 20px;
  &:hover {
    cursor: pointer;
  }

  i {
    font-size: 25px;
  }
}

/* Edit Item Controls */
.edit-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  @include flex(row);

  .edit-menu__toggle-controls {
    background: transparent;
    border: none;
    width: 30px;
    padding: 10px 0;

    &:hover {
      cursor: pointer;
    }

    i {
      font-size: 20px;
    }
  }

  .edit-menu__controls {
    .edit-menu__controls-btn {
      padding: 5px 10px;
      border: none;
      color: $color-light;
      transition: 2s ease-in;

      &:hover {
        box-shadow: 1px 1px 20px lightgray;
      }
    }

    .delete {
      background-color: red;
    }

    .update {
      background-color: rgb(0, 174, 255);
      margin-left: 5px;
    }
  }
}

/* To Top Button */
.btn-top {
  @extend .btn;
  background: #707070;
  border: 0.5px solid #c9c9c9;
  border-radius: 50%;
  height: 50px;
  padding: 0 1.2em;
  position: fixed;
  right: 10px;
  transition: 0.5s ease-in;
  width: 50px;

  &:hover polyline {
    stroke-width: 15;
  }

  .arrow {
    height: 18px;
    left: 50%;
    margin-left: -9px;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    width: 18px;
  }
}
