.login-container {
  background: $bg-light;
  border-radius: 2.5px;
  max-width: 300px;
  padding: 20px;
  position: relative;
  width: 100%;
  @include flex();

  .login-form {
    align-self: center;
    width: 80%;

    input {
      margin-bottom: 10px;
    }

    .login-form__legend {
      font-size: 20px;
      font-weight: bold;
    }

    .login-form__label {
      font-size: 14px;
    }

    .login-form__input {
      border: none;
      box-shadow: 1px 1px 2px gray;
      font-family: 'Courier New', Courier, monospace;
      padding: 10px;
      width: 100%;
    }

    .login-form__submit-btn {
      background: $bg-dark;
      border: none;
      border-radius: 2.5px;
      color: $color-light;
      font-family: 'Poppins';
      font-size: 16px;
      font-weight: 500;
      margin-top: 5px;
      padding: 10px 0;
      width: 100%;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .login-feedback {
    .login-feedback__text {
      color: red;
      font-size: 16px;
      line-height: 20px;
    }
  }
}
